* { margin:0; padding:0; box-sizing:border-box; }
body 	{
		color: black;
		font-family: "Palatino Linotype", Georgia, serif;
		background: #4D946A;
		text-align:center;
		/*background: #06B252;*/		
}
nav 	{
		list-style-type: none;
		margin: auto;
		overflow: hidden;
		background-color: #333;
		border-radius: 10px;
}
nav a {
		float:left;
		color: white;
		padding:14px 16px;
		width: 25%;
}
section {
		padding:4em 0;
}
h1		{
		font-family: "Palatino Linotype", Georgia, serif;
		font-size: 60px;
		text-align: center;				
}
img 	{
		display: block;
		width: 75%;
		margin: auto;
		padding-top: 25px;		
}
ul		{
		list-style-type: none;	
}
#splash {
		background:url(../images/welcome_carpet.jpg);
		background-size:cover;
		background-repeat:no-repeat;
		background-position: center;
		height: 70vh;			
}
#slogan	{
		font-style: italic;
		font-size: 20px;
		text-align: center;
		text-transform: uppercase;	
}
